{% extends "base.html" %}

{% block body %}
<style>
      body {
        padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-image: url("../static/images/Frog.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
      }
</style>
<div class="container">

      <h1>{{user}}'s Goals!</h1>


{% for goal in goals %}
		{% if goal.achieved == False %}
			<div class="row">
			{% if goal.strength_or_endurance == 'strength' %}
				<h2>Your Goal Is To Read for {{goal.goal_number}} {{goal.goal_description}}</h2>
				<h1>status: {{goal.status}}/{{goal.goal_number}}</h1>
			{% elif goal.strength_or_endurance == 'endurance' %}
				<h2>Your Goal Is To Read {{goal.goal_number}} {{goal.goal_description}}</h2>
				<h1>status: {{goal.status}}/{{goal.goal_number}}</h1>
			{% endif %}
			<a href="/editgoal/{{goal.id}}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-star-empty"></span>Edit Goal</a>
			</div>
		{% endif %}
{% endfor %}

{% if goals|length == 0 %}
	<div class= "row">
	<a href="/addgoal" method="GET" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-star-empty"></span>Set Your Strength Goal</a>
	
	<a href="/addendurancegoal" method="GET" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-star-empty"></span>Set Your Endurance Goal</a>
	</div>
{% elif goals|length == 1 %}
	{% if goals[0].strength_or_endurance == 'strength' %}
		<a href="/addendurancegoal" method="GET" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-star-empty"></span>Set Your Endurance Goal</a>
	{% elif goals[0].strength_or_endurance == 'endurance' %}
		<a href="/addgoal" method="GET" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-star-empty"></span>Set Your Strength Goal</a>
	{% endif %}
{% endif %}


<div>
	<h1>Short Reading Goals</h1>


{% endblock %}  


</div> <!-- /container -->

