
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>welcome, scholar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-image: url("../static/images/Frog.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

   
  </head>

  <body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/activegoals" role="button">Active Goals</a></li>
        <li><a href="/goalgallery" role="button">Goal Gallery</a></li> 
        <li><a href="/scholarlibrary" role="button">Your Library</a></li>
        <li><a href="/logout" role="button">Logout</a></li> 
      </ul>
    </div>
  </div>
</nav>


    <div class="container">

      <h1>Welcome {{scholar_name}} from {{scholar_school}}!</h1>
  

    </div> <!-- /container -->

  </body>
</html>
